{% extends "home.html" %}
{% block body %}
    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/query">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/insert">Insert</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/view">View</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/bonus">Bonus <span class="sr-only">(current)</span></a>
            </li>
          </ul>

        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>Find your Queries below!</h1>
          <div>
              <h2>Student Search</h2>
              <br>
              <p>Insert Student Name to see a list of students whose names matches the beginning of the input</p>
              <form method="POST" action="{{ url_for('queryStudentBonus') }}">
                  <input name="studentname" placeholder="StudentName">
                  <input type="submit">
              </form>
            </div>
            <br>
            <div>
                <h2>Course Search</h2>
                <br>
                <p>Insert Course Name to see a list of Courses whose names match the beginning of the input</p>
                <form method="POST" action="{{ url_for('queryCourseBonus') }}">
                    <input name="cname" placeholder="CourseName">
                    <input type="submit">
                </form>
            </div>
            <br>
            <div>
                <h2>Dept Search</h2>
                <p>Insert Department Names to see list of Departments whose names match the beginning of the input</p>
                <form method="POST" action="{{ url_for('queryDepartmentBonus') }}">
                    <input name="dept_name" placeholder="Dept Name">
                    <input type="submit">
                </form>
            </div>
          <br>
          <h2>Section title</h2>
          <div id="bonus" id="queryType" id="queriedId" id="run" id="department" id="student" id="run" id="course">            
            {% if run %}
              <br>
              <div class="table-responsive">
                <table class="table table-striped">
                  {% if queryType == "CourseDescription" %}
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>CREDITS</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for row in course %}
                          <tr>
                              {% for val in row %}
                                {% if val is not none %}
                                  <td>{{ val }}</td>
                                {% else %}
                                  <td>N/A</td>
                                {% endif %}
                              {% endfor %}
                          </tr>
                        {% endfor %}
                    </tbody>
                  {% endif %}
                  {% if queryType == "Department" %}
                    <thead>
                      <tr>
                        <th>DEPARTMENT</th>
                        <th>NAME</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for row in department %}
                          <tr>
                              {% for val in row %}
                                {% if val is not none %}
                                  <td>{{ val }}</td>
                                {% else %}
                                  <td>N/A</td>
                                {% endif %}
                              {% endfor %}
                          </tr>
                        {% endfor %}
                    </tbody>
                  {% endif %}
                  {% if queryType == "Student" %}
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>NAME</th>
                        <th>YEAR</th>
                        <th>MAJOR</th>
                      </tr>
                    </thead>
                    <tbody>
                        {% for row in student %}
                          <tr>
                              {% for val in row %}
                                {% if val is not none %}
                                  <td>{{ val }}</td>
                                {% else %}
                                  <td>N/A</td>
                                {% endif %}
                              {% endfor %}
                          </tr>
                        {% endfor %}
                    </tbody>
                  {% endif %}
                </table>
              </div>
            {% else %}
            <br><br>
              {% if run %}
                <h1>No Records Found</h1>            
              {% else %}
              {% endif %}
            {% endif %}
          </div>
        </main>
      </div>
    </div>
{% endblock %}
