{% extends "home.html" %}
{% block body %}
<div class="container-fluid">
  <div class="row">
    <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
      <ul class="nav nav-pills flex-column">
        <li class="nav-item">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/query">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/insert">Insert <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/view">View</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/bonus">Bonus</a>
        </li>
      </ul>

    </nav>

    <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
      <h1>Insert a new department!</h1>
        <br><br>
      <div>
        <br> 
          <form method="POST" action="{{ url_for('addDepartment') }}">
            <input name="did" placeholder="DepartmentId (30 char)">
            <input name="name" placeholder="Department Name (50 char)">
            <input name="address" placeholder="Address (255 char)">
            <input type="submit">
            <br>
            <br><h3>OR</h3><br>
            
            <input type="file" name="file" accept="*.json">
            <input type="submit">
          </form>
      </div>
        <br>
    <div id="error" id="inserted" id="ran">
      {% if ran is not none %}
        {% if error is not none %}
          <h3>Result:</h3>
          <br>
          <p>{{ error }}</p>
        {% else %}
          <h3>Success</h3>
        {% endif %}
      {% endif %}
    </div>
    </main>
  </div>
</div>
{% endblock %}