{% extends "home.html" %}
{% block body %}
<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/query">Search <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/insert">Insert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/view">View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bonus">Bonus</a>
      </li>
    </ul>

  </nav>

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    
    <h1>Find your student below!</h1>
    <div>
        <h2>Student Search</h2>
        <p>Insert StudentId and click submit to search: output will be Students</p>
        <form method="POST" action="{{ url_for('queryStudent') }}">
            <input name="id" placeholder="StudentID">
            <input type="submit">
        </form>
    </div>
    <br>
    <div>
        <h2>Course Search</h2>
        <p>Insert CourseID and click submit to search: output will be Courses</p>
        <form method="POST" action="{{ url_for('queryCourse') }}">
            <input name="cid" placeholder="CourseID">
            <input type="submit">
        </form>
    </div>
    <br>
    <div>
        <h2>Dept Search</h2>
        <p>Insert DepartmentID and click submit to search: output will be professors in the searched department</p>
        <form method="POST" action="{{ url_for('queryDepartment') }}">
            <input name="dept_id" placeholder="Dept ID">
            <input type="submit">
        </form>
    </div>
    <br>
    <div>
        <h2>Results</h2>
        <ul id="student" id="queriedId" id="queryType" id="course">
            {% if queryType == 'Student' %}
                {% if student is not none %}
                    {% for val in student %}
                        <li><h3>{{ val }}</h3></li>
                    {% endfor %}
                {% else %}
                    <h3>Sorry, '{{ queriedId }}' was not found in the {{ queryType }} table.</h3>
                {% endif %}
            {% elif queryType == 'Course' %}
                {% if course is not none %}
                    {% for val in course %}
                        <li><h3>{{ val }} </h3></li>
                    {% endfor %}
                {% else %}
                    <h3>Sorry, '{{ queriedId }}' was not found in the {{ queryType }} table</h3>
                {% endif %}
            {% elif queryType == 'Department' %}
                <div id="bonus" id="queryType" id="queriedId" id="run" id="department">            
                    {% if run %}
                    <br>
                    <div class="table-responsive">
                        <table class="table table-striped">
                        {% if queryType == "Department" %}
                            <thead>
                            <tr>
                                <th>ID</th>
                                <th>NAME</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for row in department %}
                                <tr>
                                    {% for val in row %}
                                        {% if val is not none %}
                                        <td>{{ val }}</td>
                                        {% else %}
                                        <td>N/A</td>
                                        {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        {% endif %}
                        </table>
                    </div>
                    {% else %}
                    <br><br>
                    {% if run %}
                        <h1>No Records Found</h1>            
                    {% else %}
                    {% endif %}
                {% endif %}
                </div>
            {% endif %}    
        </ul>
    </div>
</main>
{% endblock %}