{% extends "home.html" %}
{% block body %}
<nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
    <ul class="nav nav-pills flex-column">
      <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link active" href="/query">Search <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/insert">Insert</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/view">View</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/bonus">Bonus</a>
      </li>
    </ul>

  </nav>

<main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
    
    <h1>Find your student below!</h1>
    <div>
        <h2>Student Search</h2>
        <form method="POST" action="{{ url_for('queryStudent') }}">
            <input name="id" placeholder="StudentID">
            <input type="submit">
        </form>
    </div>
    <br>
    <div>
        <h2>Course Search</h2>
        <form method="POST" action="{{ url_for('queryCourse') }}">
            <input name="cid" placeholder="CourseID">
            <input type="submit">
        </form>
    </div>
    <br>
    <div>
        <h2>Dept Search</h2>
        <form method="POST" action="{{ url_for('queryDepartment') }}">
            <input name="dept_id" placeholder="Dept ID">
            <input type="submit">
        </form>
    </div>
    <br>
    <div>
        <h2>Results</h2>
        <ul id="student" id="queriedId" id="queryType" id="course">
            {% if queryType == 'Student' %}
                {% if student is not none %}
                    {% for val in student %}
                        <li><h3>{{ val }}</h3></li>
                    {% endfor %}
                {% else %}
                    <h3>Sorry, '{{ queriedId }}' was not found in the {{ queryType }} table.</h3>
                {% endif %}
            {% elif queryType == 'Course' %}
                {% if course is not none %}
                    {% for val in course %}
                        <li><h3>{{ val }} </h3></li>
                    {% endfor %}
                {% else %}
                    <h3>Sorry, '{{ queriedId }}' was not found in the {{ queryType }} table</h3>
                {% endif %}
            {% elif queryType == 'Department' %}
                {% if department is not none %}
                    {% for val in department %}
                        <li><h3> {{ val }} </h3></li>
                    {% endfor %}
                {% else %}
                    <h3>Sorry, '{{ queriedId }}' was not found in the {{ queryType }} table.</h3>
                {% endif %}
            {% endif %}    
        </ul>
    </div>
</main>
{% endblock %}