{% extends "home.html" %}
{% block body %}

    <div class="container-fluid">
      <div class="row">
        <nav class="col-sm-3 col-md-2 d-none d-sm-block bg-light sidebar">
          <ul class="nav nav-pills flex-column">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/query">Search</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/insert">Insert</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/view">View <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/bonus">Bonus</a>
            </li>
          </ul>

        </nav>

        <main role="main" class="col-sm-9 ml-sm-auto col-md-10 pt-3">
          <h1>Find your table below!</h1>
            <div>
                <h2>Select View</h2>
                <p>Select Table from the dropdown. Page # starts at 1 and will display per page entries.</p>
                <form method="POST" action="{{ url_for('viewQuery') }}">
                    <select name="table">
                        <option value="Department">Department</option>  
                        <option value="Student">Student</option> 
                        <option value="Takes">Takes</option>
                        <option value="Chair">Chair</option>
                        <option value="CanEnroll">CanEnroll</option>
                        <option value="Staff">Staff</option>
                        <option value="CourseDescription">CourseDescription</option>
                        <option value="CourseInstance">CourseInstance</option>
                        <option value="Professor">Professor</option>
                        <option value="Admin">Admin</option>
                        <option value="Building">Building</option>
                        <option value="Room">Room</option>
                    </select>
                    <input type="text" name="pageNo" placeholder="Page Number">
                    <input type="text" name="perPage" placeholder="Per Page">
                    <input type="submit">   
                </form>
            </div>

          <div id="view" id="queryType" id="queriedId" id="run" id="error">            
            
            {% if error %}
              <br>
              <h2>{{ error }}</h2>
            {% else %}
              {% if view %}
                <br>
                <div class="table-responsive">
                  <table class="table table-striped">
                    {% if queryType == "Admin" %}
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>ROOM NUMBER</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for row in view %}
                            <tr>
                                {% for val in row %}
                                  {% if val is not none %}
                                    <td>{{ val }}</td>
                                  {% else %}
                                    <td>N/A</td>
                                  {% endif %}
                                {% endfor %}
                                
                            </tr>
                          {% endfor %}
                          {% if not view %}
                        {% endif %}
                      </tbody>
                    {% endif %}
                    {% if queryType == "Building" %}
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>DEPARTMENT ID</th>
                          <th>NAME</th>
                          <th>NUMBER OF ROOMS</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for row in view %}
                            <tr>
                                {% for val in row %}
                                  {% if val is not none %}
                                    <td>{{ val }}</td>
                                  {% else %}
                                    <td>N/A</td>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                          {% endfor %}
                      </tbody>
                    {% endif %}
                    {% if queryType == "CanEnroll" %}
                      <thead>
                        <tr>
                          <th>STAFF ID</th>
                          <th>COURSE ID</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for row in view %}
                            <tr>
                                {% for val in row %}
                                  {% if val is not none %}
                                    <td>{{ val }}</td>
                                  {% else %}
                                    <td>N/A</td>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                          {% endfor %}
                      </tbody>
                    {% endif %}
                    {% if queryType == "Chair" %}
                      <thead>
                        <tr>
                          <th>DEPARTMENT ID</th>
                          <th>STAFF ID</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for row in view %}
                            <tr>
                                {% for val in row %}
                                  {% if val is not none %}
                                    <td>{{ val }}</td>
                                  {% else %}
                                    <td>N/A</td>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                          {% endfor %}
                      </tbody>
                    {% endif %}
                    {% if queryType == "CourseDescription" %}
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>NAME</th>
                          <th>CREDITS</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for row in view %}
                            <tr>
                                {% for val in row %}
                                  {% if val is not none %}
                                    <td>{{ val }}</td>
                                  {% else %}
                                    <td>N/A</td>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                          {% endfor %}
                      </tbody>
                    {% endif %}
                    {% if queryType == "CourseInstance" %}
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>SEMESTER</th>
                          <th>YEAR</th>
                          <th>STAFF ID</th>
                          <th>IS OPEN</th>
                          <th>BUILDING ID</th>
                          <th>ROOM NUMBER</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for row in view %}
                            <tr>
                                {% for val in row %}
                                  {% if val is not none %}
                                    <td>{{ val }}</td>
                                  {% else %}
                                    <td>N/A</td>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                          {% endfor %}
                      </tbody>
                    {% endif %}
                    {% if queryType == "Department" %}
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>NAME</th>
                          <th>ADDRESS</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for row in view %}
                            <tr>
                                {% for val in row %}
                                  {% if val is not none %}
                                    <td>{{ val }}</td>
                                  {% else %}
                                    <td>N/A</td>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                          {% endfor %}
                      </tbody>
                    {% endif %}
                    {% if queryType == "Professor" %}
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>TENURE</th>
                          <th>ROOM NUMBER</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for row in view %}
                            <tr>
                                {% for val in row %}
                                  {% if val is not none %}
                                    <td>{{ val }}</td>
                                  {% else %}
                                    <td>N/A</td>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                          {% endfor %}
                      </tbody>
                    {% endif %}
                    {% if queryType == "Room" %}
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>ROOM NUMBER</th>
                          <th>CAPACITY</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for row in view %}
                            <tr>
                                {% for val in row %}
                                  {% if val is not none %}
                                    <td>{{ val }}</td>
                                  {% else %}
                                    <td>N/A</td>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                          {% endfor %}
                      </tbody>
                    {% endif %}
                    {% if queryType == "Staff" %}
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>DEPARTMENT ID</th>
                          <th>NAME</th>
                          <th>AGE</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for row in view %}
                            <tr>
                                {% for val in row %}
                                  {% if val is not none %}
                                    <td>{{ val }}</td>
                                  {% else %}
                                    <td>N/A</td>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                          {% endfor %}
                      </tbody>
                    {% endif %}
                    {% if queryType == "Student" %}
                      <thead>
                        <tr>
                          <th>ID</th>
                          <th>NAME</th>
                          <th>YEAR</th>
                          <th>MAJOR</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for row in view %}
                            <tr>
                                {% for val in row %}
                                  {% if val is not none %}
                                    <td>{{ val }}</td>
                                  {% else %}
                                    <td>N/A</td>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                          {% endfor %}
                      </tbody>
                    {% endif %}
                    {% if queryType == "Takes" %}
                      <thead>
                        <tr>
                          <th>STUDENT ID</th>
                          <th>COURSE ID</th>
                          <th>SEMESTER</th>
                          <th>YEAR</th>
                        </tr>
                      </thead>
                      <tbody>
                          {% for row in view %}
                            <tr>
                                {% for val in row %}
                                  {% if val is not none %}
                                    <td>{{ val }}</td>
                                  {% else %}
                                    <td>N/A</td>
                                  {% endif %}
                                {% endfor %}
                            </tr>
                          {% endfor %}
                      </tbody>
                    {% endif %}
                  </table>
                </div>
              {% else %}
              <br><br>
                {% if run %}
                  <h1>No Records Found</h1>            
                {% else %}
                {% endif %}
              {% endif %}
            {% endif %}
          </div>
        </main>
      </div>
    </div>
<br>
{% endblock %}